$light-tan: #EFEDE5;

$darkblue-green: #073064;

$light-grey: #f5f5f5;

$bidii-green: #5CB85C;

$bidii-orange: #F0AD4E;

$bidii-red: #D9534F;

$dark-grey: #979797;

$darker-grey: #5C676A;

$darkest-grey: #494545;

$light-blue: #D8DDE6;

$light-green-blue: #ADAEC1;

$white: #fff;

$black: #000;









