@import 'colors';



/* FONT RESET */

span .f-r{
  font-family: 'Roboto', sans-serif;
}

/* END FONT RESET */


/* Biddi Buttons */
input[type=text].bidii-search {
  background-color: $light-blue-grey;
  box-shadow: none;
  width: 242px;
  border: none;
  padding: 0 0 0 10px;
  margin: 3px 0 0 0;
  line-height: 0;
  height: 27px;
}

input[type=text].bidii-search::after {
  display: block;
  content: 'X';
  border:1px solid #000;
  width: 80px;
  height: 80px;
  z-index: 1800;
}


/* GLYPHICONS */


/* ENd GLGLYPHICONS */


/* TABLE RESET */
.table > thead > tr > th,
.table > thead > tr
{
  border: none;
}


.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  border-top: 1px solid $light-blue;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color:$light-grey ;
}

/* TABLE FONT RESET */
